:root {
  --primary-color: #0866FF;
  --icon-color: #51829B;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #000;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
}

header {
  grid-area: content;
  max-width: 1500px;
  width: 100%;
  place-self: start center;
  display: flex;
  margin-top: 40px; 
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999; 
  background-color: transparent; 
}

section {
  height: 100vh;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #0005;
  grid-area:content;
  place-self: end center;
  display: grid;
  place-content: center;
  border-top: 2px solid white;
  font-size: 1.00rem;
  font-style: italic;
  margin-bottom: 10px;
}

@media (max-width: 3000px) {
  .navigation-icon {
    visibility: hidden;
  }
}
